.banner{
    &__img{
        @include centerer;
    }
    &__description{
        text-align: center;
        &--button{
            background-color: transparent;
            border: none;
        }
    }
}
@include respond-above(md ) {
    .banner{
        display: flex;
        &__img{
            @include centerer;
            width: 50%;
            margin: 0;
        }
        &__description{
            @include centerer;
            width: 40%;
            flex-direction: column;
        }
    }
}