
.container{
    .card{
       background-color:  $nav-color;
    };
    .card-body{
        color: $text-color;
    }
    &__h1{
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin: 60px 0 ;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 60%;
            height: 2px;
            background-color: #333;
            border-radius: 5px;
        }
    }
    .button{
    background-color: transparent;
    border: none;
    color: $text-color;  
    font-size: 20px;
    &:hover{
        text-decoration: underline;
    }
    }
}