@mixin set-navbar-style($headTag: h1, $brightness:dark, $fontSize: null) {
    font-family: 'Barlow Semi Condensed';
    color: $text-color;
    font-weight: normal;
  }
  

@mixin set-headline-style($headTag: h1, $brightness:dark, $fontSize: null) {
    font-family: 'Barlow Semi Condensed';
    color: $color-text;
    font-weight: normal;
}

@mixin set-button-style($headTag: h1, $brightness:dark, $fontSize: null) {
  font-family: 'Barlow Semi Condensed';
  color: $nav-color;
  font-weight: 500;
  font-size: 20px;
}

   h1 {
    @include set-headline-style(h1);
  }
  p{
    @include set-headline-style(p);
  }
  button {
    @include set-button-style(button);
  }
  a{
    @include set-navbar-style(a);
  }